In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [13]:
df_merged = pd.read_csv("merged_data.csv")

In [14]:
df_merged = df_merged.drop(columns="Unnamed: 0")

In [15]:
df_merged

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,New_PROD_NAME,pack_size,Brand,LIFESTAGE,PREMIUM_CUSTOMER
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,Natural Chip Compny SeaSaltg,175,Natural,YOUNG SINGLES/COUPLES,Premium
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,CCs Nacho Cheese g,175,CCs,MIDAGE SINGLES/COUPLES,Budget
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,Smiths Crinkle Cut Chips Chicken g,170,Smiths,MIDAGE SINGLES/COUPLES,Budget
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,Smiths Chip Thinly SCreamOnion g,175,Smiths,MIDAGE SINGLES/COUPLES,Budget
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,Kettle Tortilla ChpsHnyJlpno Chili g,150,Kettle,MIDAGE SINGLES/COUPLES,Budget
...,...,...,...,...,...,...,...,...,...,...,...,...,...
246237,2019-03-09,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,Kettle Sweet Chilli And Sour Cream g,175,Kettle,YOUNG SINGLES/COUPLES,Premium
246238,2018-08-13,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4,Tostitos Splash Of Lime g,175,Tostitos,YOUNG SINGLES/COUPLES,Premium
246239,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8,Doritos Mexicana g,170,Doritos,YOUNG SINGLES/COUPLES,Premium
246240,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8,Doritos Corn Chip Mexican Jalapeno g,150,Doritos,YOUNG SINGLES/COUPLES,Premium
246241,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8,Tostitos Splash Of Lime g,175,Tostitos,YOUNG SINGLES/COUPLES,Premium

In [18]:
# change the date type
df_merged["DATE"] = pd.to_datetime(df_merged["DATE"], errors='coerce')

In [19]:
df_merged.dtypes

DATE                datetime64[ns]
STORE_NBR                    int64
LYLTY_CARD_NBR               int64
TXN_ID                       int64
PROD_NBR                     int64
PROD_NAME                   object
PROD_QTY                     int64
TOT_SALES                  float64
New_PROD_NAME               object
pack_size                    int64
Brand                       object
LIFESTAGE                   object
PREMIUM_CUSTOMER            object
dtype: object

In [21]:
# To identify control stores
# Identify the data in monthly for the following points
# what is total sales revenue for each store
# what is total # of customers for each store 
# what is the average # of transactions per customer

df_merged["month"] = df_merged["DATE"].dt.month
df_merged["year"] = df_merged["DATE"].dt.year

In [28]:
# monthly total sales revenue sum by store
monthly_total_sales_revenue = df_merged.groupby(["STORE_NBR","month"])["TOT_SALES"].sum()
monthly_total_sales_revenue_df = monthly_total_sales_revenue.reset_index()

In [29]:
monthly_total_sales_revenue_df

      STORE_NBR  month  TOT_SALES
0             1      1     149.70
1             1      2     194.70
2             1      3     185.20
3             1      4     177.40
4             1      5     207.10
...         ...    ...        ...
3160        272      8     305.35
3161        272      9     294.50
3162        272     10     405.10
3163        272     11     355.80
3164        272     12     363.10

[3165 rows x 3 columns]

In [36]:
trial_monthly_total_sales_revenue_df = monthly_total_sales_revenue_df[(monthly_total_sales_revenue_df["STORE_NBR"] == 77) 
| (monthly_total_sales_revenue_df["STORE_NBR"] == 86) | (monthly_total_sales_revenue_df["STORE_NBR"] == 88)]
trial_monthly_total_sales_revenue_df

      STORE_NBR  month  TOT_SALES
880          77      1     188.40
881          77      2     211.60
882          77      3     255.10
883          77      4     258.10
884          77      5     257.10
885          77      6     246.60
886          77      7     268.40
887          77      8     247.50
888          77      9     216.80
889          77     10     194.30
890          77     11     224.90
891          77     12     255.20
977          86      1     800.60
978          86      2     872.80
979          86      3     945.40
980          86      4     804.00
981          86      5     793.60
982          86      6     766.00
983          86      7     851.00
984          86      8     726.85
985          86      9     855.00
986          86     10     898.80
987          86     11     851.20
988          86     12     812.20
1001         88      1    1215.40
1002         88      2    1339.60
1003         88      3    1467.00
1004         88      4    1317.00
1005         88      5    1205.15
1006         88      6    1252.60
1007         88      7    1218.20
1008         88      8    1163.60
1009         88      9    1361.80
1010         88     10    1270.80
1011         88     11    1311.40
1012         88     12    1213.00

In [39]:
trial_77_monthly_total_sales_revenue_df = trial_monthly_total_sales_revenue_df[trial_monthly_total_sales_revenue_df["STORE_NBR"] == 77]
trial_86_monthly_total_sales_revenue_df = trial_monthly_total_sales_revenue_df[trial_monthly_total_sales_revenue_df["STORE_NBR"] == 86]
trial_88_monthly_total_sales_revenue_df = trial_monthly_total_sales_revenue_df[trial_monthly_total_sales_revenue_df["STORE_NBR"] == 88]

In [35]:
others_monthly_total_sales_revenue_df = monthly_total_sales_revenue_df[(monthly_total_sales_revenue_df["STORE_NBR"] != 77) & (monthly_total_sales_revenue_df["STORE_NBR"] != 86) & (monthly_total_sales_revenue_df["STORE_NBR"] != 88)]
others_monthly_total_sales_revenue_df

      STORE_NBR  month  TOT_SALES
0             1      1     149.70
1             1      2     194.70
2             1      3     185.20
3             1      4     177.40
4             1      5     207.10
...         ...    ...        ...
3160        272      8     305.35
3161        272      9     294.50
3162        272     10     405.10
3163        272     11     355.80
3164        272     12     363.10

[3129 rows x 3 columns]

In [43]:
# check how many potential stores can be checked to be control stores
len_total_other_stores = len(set(others_monthly_total_sales_revenue_df["STORE_NBR"].to_list()))
len_total_other_stores

268

In [54]:
cehck_monthly_total_sales_revenue_df = monthly_total_sales_revenue_df[(monthly_total_sales_revenue_df["STORE_NBR"] == 11)]
cehck_monthly_total_sales_revenue_df.shape[0]

2

In [68]:
# function to compare one trial store with other stores that are potentially possible to become control store.
# we use pearson correlation and check which store has the highest correlation with the specific trial store

def check_total_sales_correlation(trial_sales_df, other_sales_df, trial_num):
    sales_corr_dict = {}

    trial_array = trial_sales_df[trial_sales_df["STORE_NBR"] == int(trial_num)]["TOT_SALES"].to_list()

    total_other_stores_num_list = set(other_sales_df["STORE_NBR"].to_list())

    
    for num in total_other_stores_num_list:
        # print(num)
        potential_df = other_sales_df[other_sales_df["STORE_NBR"] == int(num)]
        # print(potential_df)
        if potential_df.shape[0] == 12:
            
            # only compare df that has 12 months records
            control_array = potential_df["TOT_SALES"].to_list()
            
            correlation_matrix = np.corrcoef(trial_array, control_array)[0,1]
            sales_corr_dict[f"{num}"] = correlation_matrix
            
    best_control_store, corr_val = check_total_sales_best_control_store(sales_corr_dict)
    print(f'best control store against trial store {trial_num}: {best_control_store}')
    print()
    print(f'best control store correlation against trial store {trial_num}: {corr_val}')
    
    return sales_corr_dict

def check_total_sales_best_control_store(sales_corr_dict):
    temp_val = 0
    store_num = 0
    for k, v in sales_corr_dict.items():
        if v > temp_val:
            temp_val = v
            store_num = k
    return store_num, temp_val

In [69]:
# check trial 77 with others

sales_corr_77_dict = check_total_sales_correlation(trial_monthly_total_sales_revenue_df, others_monthly_total_sales_revenue_df, 77)

best control store against trial store 77: 35

best control store correlation against trial store 77: 0.75934957823085

In [70]:
# check trial 86 with others

sales_corr_86_dict = check_total_sales_correlation(trial_monthly_total_sales_revenue_df, others_monthly_total_sales_revenue_df, 86)

best control store against trial store 86: 231

best control store correlation against trial store 86: 0.8627716657026007

In [71]:
# check trial 88 with others

sales_corr_88_dict = check_total_sales_correlation(trial_monthly_total_sales_revenue_df, others_monthly_total_sales_revenue_df, 88)

best control store against trial store 88: 159

best control store correlation against trial store 88: 0.8341668185702691

In [96]:
# monthly total num of customers sum by store
# number of customers coming to store. we count unique count of customers
monthly_total_customers = df_merged.groupby(["STORE_NBR","month"])["LYLTY_CARD_NBR"].nunique()
monthly_total_customers_df = monthly_total_customers.reset_index()
monthly_total_customers_df = monthly_total_customers_df.rename(columns={"LYLTY_CARD_NBR": "Total_customer"} )
monthly_total_customers_df

      STORE_NBR  month  Total_customer
0             1      1              35
1             1      2              49
2             1      3              43
3             1      4              39
4             1      5              43
...         ...    ...             ...
3160        272      8              39
3161        272      9              31
3162        272     10              41
3163        272     11              39
3164        272     12              43

[3165 rows x 3 columns]

In [97]:
# number of customers each month in trial stores
trial_monthly_total_customers_df = monthly_total_customers_df[(monthly_total_customers_df["STORE_NBR"] == 77) 
| (monthly_total_customers_df["STORE_NBR"] == 86) | (monthly_total_customers_df["STORE_NBR"] == 88)]
trial_monthly_total_customers_df

      STORE_NBR  month  Total_customer
880          77      1              31
881          77      2              40
882          77      3              46
883          77      4              47
884          77      5              52
885          77      6              38
886          77      7              47
887          77      8              46
888          77      9              40
889          77     10              36
890          77     11              39
891          77     12              43
977          86      1              89
978          86      2             105
979          86      3             108
980          86      4              99
981          86      5              97
982          86      6              92
983          86      7              94
984          86      8              92
985          86      9             100
986          86     10             105
987          86     11              95
988          86     12              93
1001         88      1             115
1002         88      2             122
1003         88      3             133
1004         88      4             119
1005         88      5             122
1006         88      6             113
1007         88      7             124
1008         88      8             122
1009         88      9             121
1010         88     10             120
1011         88     11             123
1012         88     12             120

In [98]:
others_monthly_total_customers_df = monthly_total_customers_df[(monthly_total_customers_df["STORE_NBR"] != 77) & (monthly_total_customers_df["STORE_NBR"] != 86) & (monthly_total_customers_df["STORE_NBR"] != 88)]
others_monthly_total_customers_df

      STORE_NBR  month  Total_customer
0             1      1              35
1             1      2              49
2             1      3              43
3             1      4              39
4             1      5              43
...         ...    ...             ...
3160        272      8              39
3161        272      9              31
3162        272     10              41
3163        272     11              39
3164        272     12              43

[3129 rows x 3 columns]

In [99]:
# check the total number of customers of control stores against a trial store

def check_total_customers_correlation(trial_df, other_df, trial_num):
    customer_corr_dict = {}

    trial_array = trial_df[trial_df["STORE_NBR"] == int(trial_num)]["Total_customer"].to_list()

    total_other_stores_num_list = set(other_df["STORE_NBR"].to_list())
    
    for num in total_other_stores_num_list:
        
        # print(num)
        potential_df = other_df[other_df["STORE_NBR"] == int(num)]
        
        # print(potential_df)
        if potential_df.shape[0] == 12:
            
            # only compare df that has 12 months records
            control_array = potential_df["Total_customer"].to_list()
            
            correlation_matrix = np.corrcoef(trial_array, control_array)[0,1]
            customer_corr_dict[f"{num}"] = correlation_matrix
            
    best_control_store, corr_val = check_total_customers_best_control_store(customer_corr_dict)
    print(f'best control store against trial store {trial_num}: {best_control_store}')
    print()
    print(f'best control store correlation against trial store {trial_num}: {corr_val}')
    
    return customer_corr_dict

def check_total_customers_best_control_store(customer_corr_dict):
    temp_val = 0
    store_num = 0
    for k, v in customer_corr_dict.items():
        if v > temp_val:
            temp_val = v
            store_num = k
    return store_num, temp_val

In [100]:
# check trial 77 with others using total customers

customers_corr_77_dict = check_total_customers_correlation(trial_monthly_total_customers_df, others_monthly_total_customers_df, 77)

best control store against trial store 77: 35

best control store correlation against trial store 77: 0.8007615712410507

In [101]:
# check trial 86 with others using total customers

customers_corr_86_dict = check_total_customers_correlation(trial_monthly_total_customers_df, others_monthly_total_customers_df, 86)

best control store against trial store 86: 229

best control store correlation against trial store 86: 0.7238496310139255

In [102]:
# check trial 88 with others using total customers

customers_corr_88_dict = check_total_customers_correlation(trial_monthly_total_customers_df, others_monthly_total_customers_df, 88)

best control store against trial store 88: 229

best control store correlation against trial store 88: 0.7333716085943344

We can see that the best control stores are totally different for the control stores found using "total sales per moenth" metric.
Therefore, we are going to use weighted average of 3 metrics instead to find the best control store for each trial store.

In addition, for trial 77 store, the best control store is 35 for the second time in a row. This may be the best control store for trial store 77.

In [92]:
df_merged["TXN_ID"]

0              1
1            348
2            383
3            974
4           1038
           ...
246237    270088
246238    270154
246239    270187
246240    270188
246241    270189
Name: TXN_ID, Length: 246242, dtype: int64

In [107]:
average_transaction = df_merged.groupby(["STORE_NBR","month"])["TXN_ID"].count()
average_transaction_df = average_transaction.reset_index()
average_transaction_df = average_transaction_df.rename(columns={"TXN_ID": "total_transaction_count"})

average_transaction_merged_df = pd.merge(average_transaction_df, monthly_total_customers_df, on=["STORE_NBR", "month"], how="left")
average_transaction_merged_df["avg_transaction_per_customer"] = average_transaction_merged_df["total_transaction_count"] / average_transaction_merged_df["Total_customer"]
average_transaction_merged_df

,STORE_NBR,month,total_transaction_count,Total_customer,avg_transaction_per_customer
0,1,1,35,35,1.000000
1,1,2,51,49,1.040816
2,1,3,47,43,1.093023
3,1,4,40,39,1.025641
4,1,5,48,43,1.116279
...,...,...,...,...,...
3160,272,8,42,39,1.076923
3161,272,9,35,31,1.129032
3162,272,10,48,41,1.170732
3163,272,11,43,39,1.102564
3164,272,12,43,43,1.000000

In [124]:
def check_weighted_correlation(df_merged, trial_num):
    weighted_corr_dict = {}

    
    # total sales rev section
    sales_corr_dict = {}

    monthly_total_sales_revenue = df_merged.groupby(["STORE_NBR","month"])["TOT_SALES"].sum()
    monthly_total_sales_revenue_df = monthly_total_sales_revenue.reset_index()
    
    other_sales_df = monthly_total_sales_revenue_df[(monthly_total_sales_revenue_df["STORE_NBR"] != 77) 
    & (monthly_total_sales_revenue_df["STORE_NBR"] != 86) & (monthly_total_sales_revenue_df["STORE_NBR"] != 88)]
    
    trial_array = monthly_total_sales_revenue_df[monthly_total_sales_revenue_df["STORE_NBR"] == int(trial_num)]["TOT_SALES"].to_list()

    total_other_stores_num_list = set(other_sales_df["STORE_NBR"].to_list())
    
    for num in total_other_stores_num_list:
        # print(num)
        potential_df = other_sales_df[other_sales_df["STORE_NBR"] == int(num)]
        # print(potential_df)
        if potential_df.shape[0] == 12:
            
            # only compare df that has 12 months records
            control_array = potential_df["TOT_SALES"].to_list()
            
            correlation_matrix = np.corrcoef(trial_array, control_array)[0,1]
            weighted_correlation_matrix = correlation_matrix * (1/3)
            sales_corr_dict[f"{num}"] = weighted_correlation_matrix
            

    weighted_corr_dict = sales_corr_dict.copy()
    
    # total customer section
    customer_corr_dict = {}

    monthly_total_customers = df_merged.groupby(["STORE_NBR","month"])["LYLTY_CARD_NBR"].nunique()
    monthly_total_customers_df = monthly_total_customers.reset_index()
    monthly_total_customers_df = monthly_total_customers_df.rename(columns={"LYLTY_CARD_NBR": "Total_customer"} )

    other_df = monthly_total_customers_df[(monthly_total_customers_df["STORE_NBR"] != 77) 
    & (monthly_total_customers_df["STORE_NBR"] != 86) & (monthly_total_customers_df["STORE_NBR"] != 88)]

    trial_array = monthly_total_customers_df[monthly_total_customers_df["STORE_NBR"] == int(trial_num)]["Total_customer"].to_list()

    total_other_stores_num_list = set(other_df["STORE_NBR"].to_list())
    
    for num in total_other_stores_num_list:
        
        # print(num)
        potential_df = other_df[other_df["STORE_NBR"] == int(num)]
        
        # print(potential_df)
        if potential_df.shape[0] == 12:
            
            # only compare df that has 12 months records
            control_array = potential_df["Total_customer"].to_list()
            
            correlation_matrix = np.corrcoef(trial_array, control_array)[0,1]
            weighted_correlation_matrix = correlation_matrix * (1/3)
            customer_corr_dict[f"{num}"] = weighted_correlation_matrix 
            weighted_corr_dict[f"{num}"] = weighted_corr_dict[f"{num}"] + weighted_correlation_matrix
    
    # average number of transaction section
    avg_trans_corr_dict = {}

    average_transaction = df_merged.groupby(["STORE_NBR","month"])["TXN_ID"].count()
    average_transaction_df = average_transaction.reset_index()
    average_transaction_df = average_transaction_df.rename(columns={"TXN_ID": "total_transaction_count"})
    
    average_transaction_merged_df = pd.merge(average_transaction_df, monthly_total_customers_df, on=["STORE_NBR", "month"], how="left")
    average_transaction_merged_df["avg_transaction_per_customer"] = average_transaction_merged_df["total_transaction_count"] / average_transaction_merged_df["Total_customer"]

    other_df = average_transaction_merged_df[(average_transaction_merged_df["STORE_NBR"] != 77) 
    & (average_transaction_merged_df["STORE_NBR"] != 86) & (average_transaction_merged_df["STORE_NBR"] != 88)]

    trial_array = average_transaction_merged_df[average_transaction_merged_df["STORE_NBR"] == int(trial_num)]["avg_transaction_per_customer"].to_list()

    total_other_stores_num_list = set(other_df["STORE_NBR"].to_list())
    
    for num in total_other_stores_num_list:
        
        # print(num)
        potential_df = other_df[other_df["STORE_NBR"] == int(num)]
        
        # print(potential_df)
        if potential_df.shape[0] == 12:
            
            # only compare df that has 12 months records
            control_array = potential_df["avg_transaction_per_customer"].to_list()
            
            correlation_matrix = np.corrcoef(trial_array, control_array)[0,1]
            weighted_correlation_matrix = correlation_matrix * (1/3)
            avg_trans_corr_dict[f"{num}"] = weighted_correlation_matrix
            weighted_corr_dict[f"{num}"] = weighted_corr_dict[f"{num}"] + weighted_correlation_matrix

    best_control_store, corr_val = check_weighted_best_control_store(weighted_corr_dict)
    print(f'best control store against trial store {trial_num}: {best_control_store}')
    print()
    print(f'best control store correlation against trial store {trial_num}: {corr_val}')
    
    return weighted_corr_dict, avg_trans_corr_dict, customer_corr_dict, sales_corr_dict

def check_weighted_best_control_store(weighted_corr_dict):
    temp_val = 0
    store_num = 0
    for k, v in weighted_corr_dict.items():
        if v > temp_val:
            temp_val = v
            store_num = k
    return store_num, temp_val

In [125]:
# check trial 77 with others using weighted average of 3 metrics (total sales revenue, total # of customers, average number of transactions)

weighted_corr_dict, avg_trans_corr_dict, customer_corr_dict, sales_corr_dict = check_weighted_correlation(df_merged, 77)
print(f"avg_trans_corr_dict: {avg_trans_corr_dict['167']}")
print(f"customer_corr_dict: {customer_corr_dict['167']}")
print(f"sales_corr_dict: {sales_corr_dict['167']}")

best control store against trial store 77: 167

best control store correlation against trial store 77: 0.4681835213556424
avg_trans_corr_dict: 0.035083453579039026
customer_corr_dict: 0.23652782212153362
sales_corr_dict: 0.19657224565506975

/Users/kunisukeishigaki/.pyenv/versions/3.10.9/lib/python3.10/site-packages/numpy/lib/function_base.py:2853: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/kunisukeishigaki/.pyenv/versions/3.10.9/lib/python3.10/site-packages/numpy/lib/function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

Avg_trans_corr shows a really low value suggesting there is something wrong with the result or calculation

In [133]:
# 35 was providing the highest corr values for trial store 77 in the previous 2 metrics
# We want to see why this store is not picked as the control store for trial store 77.
print(f"avg_trans_corr_dict: {avg_trans_corr_dict['35']}")
print(f"customer_corr_dict: {customer_corr_dict['35']}")
print(f"sales_corr_dict: {sales_corr_dict['35']}")

avg_trans_corr_dict: -0.11659460599207457
customer_corr_dict: 0.2669205237470169
sales_corr_dict: 0.25311652607695

We can see that avg trans correlation is negative providing an negative impact to the total correlation calculation.

In [127]:
total =0.25311652607695 + 0.2669205237470169 - 0.11659460599207457
total

0.40344244383189237

In [128]:
avg_trans_corr_dict

{'1': 0.009444609155618712,
 '2': -0.17719315767144342,
 '3': 0.09790601677821814,
 '4': 0.09078775433421632,
 '5': 0.05723262098644642,
 '6': 0.04175008215267671,
 '7': -0.2642339146946444,
 '8': 0.1314151937781981,
 '9': 0.06312011713936697,
 '10': -0.10854318594111254,
 '12': 0.08519415774079606,
 '13': 0.0472925156773467,
 '14': nan,
 '15': -0.06750035776437455,
 '16': 0.03678830802453124,
 '17': 0.08650547509950386,
 '18': -0.08639245187974444,
 '19': -0.08725582692770867,
 '20': 0.1896897230798679,
 '21': -0.05615924021746657,
 '22': 0.08338009790284276,
 '23': 0.05471066764753907,
 '24': -0.14964286964495221,
 '25': -0.06468210693353547,
 '26': -0.10550224538215526,
 '27': -0.0022673065577654273,
 '28': 0.03589506998428855,
 '29': 0.022814924997800988,
 '30': 0.1002329572120192,
 '32': 0.15195203401795623,
 '33': 0.003080946074102826,
 '34': 0.0030539531629530286,
 '35': -0.11659460599207457,
 '36': 0.010098534088014106,
 '37': 0.18690211839915122,
 '38': 0.14306650025893297,
 '39': 0.09890079817921096,
 '40': 0.03756052467402552,
 '41': -0.016357305794773964,
 '42': nan,
 '43': -0.04227032055905157,
 '45': 0.0813201613337428,
 '46': -0.12794052036328465,
 '47': -0.05380999188330429,
 '48': -0.15640031862263573,
 '49': 0.10569854969054238,
 '50': 0.08806481362249863,
 '51': 0.059978531430092755,
 '52': nan,
 '53': -0.27583223970143234,
 '54': -0.025755799286501447,
 '55': 0.0058146790871136085,
 '56': -0.0369129457113757,
 '57': 0.011532297412910435,
 '58': 0.09918019734723361,
 '59': 0.11552178423765813,
 '60': -0.11457632407188714,
 '61': -0.06769817647333126,
 '62': 0.18970747187048212,
 '63': -0.05091782136565752,
 '64': 0.14253058586423697,
 '65': 0.008150029417087023,
 '66': 0.002058447414546874,
 '67': 0.07238003037332333,
 '68': 0.06548741500007818,
 '69': -0.015125348779857052,
 '70': 0.10369889671340816,
 '71': 0.03185892618619772,
 '72': 0.07345304273946857,
 '73': -0.11129309273677376,
 '74': 0.046777549030107696,
 '75': -0.02858687641615911,
 '78': -0.03222841295373087,
 '79': 0.00029848639088749396,
 '80': -0.05505762138931518,
 '81': 0.10965664643917761,
 '82': 0.15225537165247047,
 '83': 0.03824928930912907,
 '84': -0.019180372814076793,
 '87': 0.05858208598980608,
 '89': -0.018649205067791122,
 '90': -0.055339082942619806,
 '91': -0.1803029290515791,
 '93': 0.08519085874644673,
 '94': -0.06803702596312558,
 '95': 0.1615135158435151,
 '96': -0.07863582162493027,
 '97': -0.06393609518490799,
 '98': -0.1443390237541881,
 '99': 0.14680637735630755,
 '100': 0.14187939339911348,
 '101': 0.10971895746910026,
 '102': -0.048855087643599915,
 '103': 0.04476009012515814,
 '104': 0.1236171256327723,
 '105': -0.012786745739699908,
 '106': 0.19133104244489987,
 '107': -0.02415379517481036,
 '108': -0.018841919660216422,
 '109': -0.15790939383029048,
 '110': -0.024319741037035537,
 '111': -0.013237392436561916,
 '112': 0.17123085216469572,
 '113': 0.04976821768362048,
 '114': -0.06856124969503007,
 '115': 0.10330583210575897,
 '116': 0.005744955378747426,
 '118': 0.06651438641324531,
 '119': 0.03094059433338703,
 '120': -0.13547158141742768,
 '121': 0.19282109402912156,
 '122': 0.1349583699263047,
 '123': 0.05358178771033434,
 '124': -0.14844006845398616,
 '125': 0.06325699574020703,
 '126': 0.021291995582813444,
 '127': nan,
 '128': -0.22888505440553464,
 '129': 0.12485663212903027,
 '130': -0.1335475803493038,
 '131': 0.193003635873803,
 '132': nan,
 '133': 0.10775352468201682,
 '134': -0.19571764619373214,
 '135': 0.004311760048689401,
 '136': 0.051381027111781226,
 '137': -0.03579070766736876,
 '138': 0.18458323306139135,
 '139': nan,
 '140': -0.0022885070486443285,
 '141': 0.0421405761354092,
 '142': -0.0894662860092279,
 '143': -0.07110704533897041,
 '144': 0.1308830551177293,
 '145': 0.14891352029435315,
 '146': nan,
 '147': -0.10470683391872643,
 '148': -0.058567714499859036,
 '149': -0.09116812631200269,
 '150': 0.1057030727169333,
 '151': -0.08502360944746787,
 '152': 0.2372797247777755,
 '153': 0.2025186967307961,
 '154': 0.02449268863420394,
 '155': -0.0031756458758644126,
 '156': 0.1153931689125048,
 '157': -0.061602975171695676,
 '158': -0.0022885070486443294,
 '159': nan,
 '160': 0.06502955540366451,
 '161': nan,
 '162': 0.04038393805264463,
 '163': 0.07214457439680844,
 '164': 0.18371631312778125,
 '165': -0.12666012414120784,
 '166': -0.0190235037091589,
 '167': 0.035083453579039026,
 '168': -0.15386503607813784,
 '169': -0.09757518186677983,
 '170': 0.0565541869590113,
 '171': 0.03884158640974732,
 '172': -0.10439099482548504,
 '173': 0.015181470631952897,
 '174': -0.055285675771932725,
 '175': -0.17364943481546927,
 '176': 0.0634656261826201,
 '178': -0.0862711667440076,
 '179': -0.06662772510739011,
 '180': 0.14095617347846284,
 '181': 0.26350071376029327,
 '182': -0.09352225311028656,
 '183': -0.023344932753127594,
 '184': 0.03579182995424893,
 '185': 0.042634550196632766,
 '186': -0.037788642223483854,
 '187': -0.0013144157802306776,
 '188': -0.05272820179094678,
 '189': 0.02424924361513938,
 '190': 0.15550573053593852,
 '191': -0.12011285114194731,
 '192': -0.002288507048644328,
 '194': 0.10999903797607335,
 '195': -0.020785726347639748,
 '196': -0.0006647375273233577,
 '197': -0.10545099738338627,
 '198': nan,
 '199': 0.01875136376903795,
 '200': -0.03593137443539034,
 '201': -0.07155480636482356,
 '202': -0.15229428366815795,
 '203': 0.0793405545444934,
 '204': nan,
 '205': 0.05557928768732457,
 '207': -0.09416907425389183,
 '208': -0.03855016954613788,
 '209': -0.13615390787699544,
 '210': 0.10874166335954834,
 '212': 0.0010616013686821745,
 '213': -0.042609763530048375,
 '214': 0.024661556772568875,
 '215': 0.05009595537057067,
 '216': -0.027429305021152338,
 '217': -0.020841154397645365,
 '219': 0.08759922275686471,
 '220': -0.07338070906263043,
 '221': 0.027080562976884964,
 '222': 0.05865026335546632,
 '223': 0.11782782597641862,
 '224': nan,
 '225': -0.11621199842876839,
 '226': 0.009472816545468457,
 '227': -0.1315009738592651,
 '228': -0.0771784308321069,
 '229': 0.05837923864747195,
 '230': -0.08322484102928009,
 '231': -0.06039165797926514,
 '232': -0.024170232017921157,
 '233': -0.06916755440727863,
 '234': -0.03472606306085052,
 '235': -0.0013172994204858383,
 '236': -0.1496490592693538,
 '237': -0.003799232534235299,
 '238': -0.03142224222587812,
 '239': 0.025166074646764142,
 '240': 0.15563345613577687,
 '241': 0.09810854392892265,
 '242': -0.16262038912702398,
 '243': 0.11459446530353279,
 '244': 0.19556623071402474,
 '245': -0.048574386221391076,
 '246': -0.08331819048418679,
 '247': -0.17301927981608423,
 '248': 0.18042649222954654,
 '249': -0.006215898474606457,
 '250': 0.11509394406409869,
 '251': 0.22994629394080718,
 '253': -0.040955599289569024,
 '254': 0.0160649187572788,
 '255': -0.046162017062621394,
 '256': -0.01745665235312303,
 '257': -0.07230160436407854,
 '258': nan,
 '259': -0.1644705113199592,
 '260': -0.008304762186809094,
 '261': 0.05224559151867797,
 '262': -0.15840103370016154,
 '263': nan,
 '264': 0.09622181869645902,
 '265': -0.059112540017256084,
 '266': -0.054529656264734896,
 '267': nan,
 '268': -0.13821804160572754,
 '269': 0.16140719251020597,
 '270': 0.16993043642433348,
 '271': 0.20464011849396208,
 '272': -0.06823552933068754}

In [131]:
# we check one of the control store that has nan
average_transaction_merged_df[average_transaction_merged_df['STORE_NBR'] == 14]

,STORE_NBR,month,total_transaction_count,Total_customer,avg_transaction_per_customer
146,14,1,2,2,1.0
147,14,2,5,5,1.0
148,14,3,2,2,1.0
149,14,4,3,3,1.0
150,14,5,3,3,1.0
151,14,6,7,7,1.0
152,14,7,7,7,1.0
153,14,8,8,8,1.0
154,14,9,5,5,1.0
155,14,10,6,6,1.0
156,14,11,7,7,1.0
157,14,12,5,5,1.0

We can see that in average number of transactions per customer there will be some arrays that are constant, so some stores will have nan values in the calculation. Therefore, it will be impossible to calculate the correlations.
Also, the corrleaton value tends to be much lower compared with other two metrics.
As a result, we should drop this metric and only focus on using the other two metrics to identify the potential control stores for the trial stores.

In [140]:
# removed average number of transactions from the metric
# give the other two metrics equal weight of 50%
def adjusted_check_weighted_correlation(df_merged, trial_num):
    weighted_corr_dict = {}

    
    # total sales rev section
    sales_corr_dict = {}

    monthly_total_sales_revenue = df_merged.groupby(["STORE_NBR","month"])["TOT_SALES"].sum()
    monthly_total_sales_revenue_df = monthly_total_sales_revenue.reset_index()
    
    other_sales_df = monthly_total_sales_revenue_df[(monthly_total_sales_revenue_df["STORE_NBR"] != 77) 
    & (monthly_total_sales_revenue_df["STORE_NBR"] != 86) & (monthly_total_sales_revenue_df["STORE_NBR"] != 88)]
    
    trial_array = monthly_total_sales_revenue_df[monthly_total_sales_revenue_df["STORE_NBR"] == int(trial_num)]["TOT_SALES"].to_list()

    total_other_stores_num_list = set(other_sales_df["STORE_NBR"].to_list())
    
    for num in total_other_stores_num_list:
        # print(num)
        potential_df = other_sales_df[other_sales_df["STORE_NBR"] == int(num)]
        # print(potential_df)
        if potential_df.shape[0] == 12:
            
            # only compare df that has 12 months records
            control_array = potential_df["TOT_SALES"].to_list()
            
            correlation_matrix = np.corrcoef(trial_array, control_array)[0,1]
            weighted_correlation_matrix = correlation_matrix * (1/2)
            sales_corr_dict[f"{num}"] = weighted_correlation_matrix
            

    weighted_corr_dict = sales_corr_dict.copy()
    
    # total customer section
    customer_corr_dict = {}

    monthly_total_customers = df_merged.groupby(["STORE_NBR","month"])["LYLTY_CARD_NBR"].nunique()
    monthly_total_customers_df = monthly_total_customers.reset_index()
    monthly_total_customers_df = monthly_total_customers_df.rename(columns={"LYLTY_CARD_NBR": "Total_customer"} )

    other_df = monthly_total_customers_df[(monthly_total_customers_df["STORE_NBR"] != 77) 
    & (monthly_total_customers_df["STORE_NBR"] != 86) & (monthly_total_customers_df["STORE_NBR"] != 88)]

    trial_array = monthly_total_customers_df[monthly_total_customers_df["STORE_NBR"] == int(trial_num)]["Total_customer"].to_list()

    total_other_stores_num_list = set(other_df["STORE_NBR"].to_list())
    
    for num in total_other_stores_num_list:
        
        # print(num)
        potential_df = other_df[other_df["STORE_NBR"] == int(num)]
        
        # print(potential_df)
        if potential_df.shape[0] == 12:
            
            # only compare df that has 12 months records
            control_array = potential_df["Total_customer"].to_list()
            
            correlation_matrix = np.corrcoef(trial_array, control_array)[0,1]
            weighted_correlation_matrix = correlation_matrix * (1/2)
            customer_corr_dict[f"{num}"] = weighted_correlation_matrix 
            weighted_corr_dict[f"{num}"] = weighted_corr_dict[f"{num}"] + weighted_correlation_matrix
    
    best_control_store, corr_val = check_weighted_best_control_store(weighted_corr_dict)
    print(f'best control store against trial store {trial_num}: {best_control_store}')
    print()
    
    print(f'best control store correlation against trial store {trial_num}: {corr_val}')
    print()
    
    customer_corr_score = customer_corr_dict[best_control_store]
    print(f"customer correlation value against trial store {trial_num}: {customer_corr_score}")
    print()
    
    sales_corr_score = sales_corr_dict[best_control_store]
    print(f"sales correlation value against trial store {trial_num}: {sales_corr_score}")
    
    return weighted_corr_dict, customer_corr_dict, sales_corr_dict

def check_weighted_best_control_store(weighted_corr_dict):
    temp_val = 0
    store_num = 0
    for k, v in weighted_corr_dict.items():
        if v > temp_val:
            temp_val = v
            store_num = k
    return store_num, temp_val

In [141]:
# check trial 77 with others using weighted average of 2 metrics (total sales revenue, total # of customers)

weighted_corr_dict, customer_corr_dict, sales_corr_dict = adjusted_check_weighted_correlation(df_merged, 77)

best control store against trial store 77: 35

best control store correlation against trial store 77: 0.7800555747359503

customer correlation value against trial store 77: 0.40038078562052537

sales correlation value against trial store 77: 0.379674789115425

In [142]:
# check trial 86 with others using weighted average of 2 metrics (total sales revenue, total # of customers)

weighted_corr_dict, customer_corr_dict, sales_corr_dict = adjusted_check_weighted_correlation(df_merged, 86)

best control store against trial store 86: 229

best control store correlation against trial store 86: 0.6732402451467567

customer correlation value against trial store 86: 0.36192481550696276

sales correlation value against trial store 86: 0.3113154296397939

In [143]:
# check trial 88 with others using weighted average of 2 metrics (total sales revenue, total # of customers)

weighted_corr_dict, customer_corr_dict, sales_corr_dict = adjusted_check_weighted_correlation(df_merged, 88)

best control store against trial store 88: 229

best control store correlation against trial store 88: 0.7341772109507725

customer correlation value against trial store 88: 0.3666858042971672

sales correlation value against trial store 88: 0.3674914066536053